# https://de.atlassian.com/git/tutorials/saving-changes/gitignore
integr.kpp
depend.mk
*.a
*.exe
*.log
*.logfile
*.mod
*.o
*.old
*.ps
*.pyc
*.tar
*.zip
*_e5.inc
*e4chem*
*~
*#
/caaba/caaba_*.nc
/caaba/caaba_mecca_a_end.dat
/caaba/mecca/kpp/bin/kpp
/caaba/nml/mecca_benchmark.nml
/caaba/output/*
/caaba/pycaaba/_*.py
/caaba/jnl/_rxnrates*.jnl
/caaba/tools/jvpp/workdir_*/*
ferret.jnl
Makefile.m
TAGS
# LaTeX and BibTeX files:
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.stdout
*.toc
/output/
